.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
   
    font-size: x-large;
    color: black;
    margin-top: 100;
}

.home{
    font-size: x-large;
    text-align:center;
    font-family:  sans-serif;
    padding: 10px;
    padding: px;
    color:black;
}

#screen{
    display: table;
    margin:  auto;
}

.controles .row {
    --bs-gutter-x: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.controles .row.botao {
    margin-top: 5px;
    margin-bottom: 5px;
}

.controles .row.botao button {
    width: 100%;
}

#coordenadas-mouse {
    text-align: center;
    margin: 0 auto;
    width: 600px;
    font-size: 14px;
}

#mouseX,
#mouseY {
    width: 50px;
}


.mt-4{
    text-align: center;
    font-family:  sans-serif;
    color:  green;
}
.col{

    text-align: center;
    font-family:  sans-serif;
    font-size:larger;
    color: green;
}
 

header{
    width: 100%;
    text-align: center;
    background-color: green;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn{
    cursor: pointer;
    width: 30%;
    border: 2px solid black;
    border-radius: 4px;
    padding:4px 8px;
    display:inline-block;
    color:  white;
    font-size: x-large;
    text-align: center;
    font-family:  sans-serif;
    text-decoration:none;
    background-color: rgb(44, 41, 41);
    
}

#limpar, #testar, 
#desenhar,#desenhar-elipse,
#desenhar-circunferencia,
#desenhar-figura,
#transformar,#desenhar-reta,#desenhar-janela,#recortar{
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#text{
    font-family:  sans-serif; 
    padding-left: 40%;
    
}

#buttonadd{
    padding-left: 30%;
    padding-top: 10px;
    padding-bottom: 20px;
}






  
